option_settings:

     aws:ec2:instances:
      EnableSpot: false
      InstanceTypes: t2.micro,t3.micro
     
     aws:autoscaling:asg:
       MinSize: 3
       MaxSize: 5
  
     aws:ec2:vpc:
      VPCId: vpc-0f756187611930b11	
      Subnets: "subnet-0ae5c65c1d95eef79","subnet-05a7b8127dd2136ff","subnet-07969b5f42f728745"
      ELBSubnets: "subnet-0ae5c65c1d95eef79","subnet-05a7b8127dd2136ff","subnet-07969b5f42f728745"
      ELBScheme: public
      AssociatePublicIpAddress: true
      
  


