option_settings:
  aws:elasticbeanstalk:customoption:
    ELBAlarmEmail: abdelalali.jadelmoula1607@gmail.com


Resources:
  MySNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint: 
            Fn::GetOptionSetting:
              OptionName: ELBAlarmEmail
              DefaultValue: jadelmoulaa2@gmail.com
          Protocol: email


